-r requirements.txt
pytest==7.4.3
pytest-cov==4.1.0
pytest-asyncio==0.21.1
flake8==6.1.0
pylint==3.0.3
black==23.12.1
mypy==1.7.1
ipython==8.18.1
ipdb==0.13.13
sphinx==7.2.6
sphinx-rtd-theme==2.0.0
coverage==7.3.4