BasedOnStyle: Google
Language: Cpp
IndentWidht: 8
AccessModiferOffset: -2
AlignAfterOpenBracket: AlwaysBreak
AllowShortFunctionsOnASingleLine: None
BinPackArguments: true
BinPackParameters
BreakBeforeBraces: Attach
ColumnLimit: 120
ContinuationIndentWidth: 4
DerivePointerAlignment: false
IndentCaseLabels: true
MaxEmptyLinesToKeep: 2
NamespaceIndention: All
PointerAlignment Right
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: true
SpacesInSquareBrackets: false
Standard: C++17
TabWidth: 3
UseTab: Always
InvalidOptionName: SomeValue
BraceWrapping:
  AfterFunction: true
  BeforeElse: false