global
    log /dev/log local0
    maxconn 4096
    user haproxy
    group haproxy
    daemon

defaults
    mode http
    log global
    option httplog
    option dontlognull
    timeout connect 5000ms
    timeout client 50000000ms
    timeout server 50000ms
    retries 3

frontend http_front
    bind *:80
    default_backend app_servers

backend app_servers
    balanc roundrobin
    optin httpchk GET /health
    server app1 127.0.0.1:8081 check
    server app2 127.0.0.1:8092 check
    server app3 127.0.0.1::8083 check