### BEGIN /etc/grub.d/00_header ###
set timeout=5
set default=0
### END /etc/grub.d/00_header ###

### BEGIN /etc/grub.d/05_debian_theme ###
set menu_color_normal=white/black
set menu_color_highlight=black/light-gray
### END /etc/grub.d/05_debian_theme ###

### BEGIN /etc/grub.d/10_linux ###
menuentry 'Ubuntu' --class ubuntu --class gnu-linux --class gnu --class os {
	recordfail
	load_video
	gfxmode $linux_gfx_mode
	insmod gzio
	insmod part_gpt
	set root='hd0,gpt2'
	if [ x$feature_platform_search_hint = xy ]; then
	  search --no-floppy --fs-uuid --set=root --hint-bios=hd0,gpt2 --hint-efi=hd0,gpt2 --hint-baremetal=ahci0,gpt2  12345678-1234-1234-1234-123456789abc
	else
	  search --no-floppy --fs-uuid --set=root 12345678-1234-1234-1234-123456789abc
	fi
	linux	/boot/vmlinuz-5.15.0-generic root=UUID=12345678-1234-1234-1234-123456789abc ro quiet splash
	initrd	/boot/initrd.img-5.15.0-generic
}

submenu 'Advanced options for Ubuntu' {
	menuentry 'Ubuntu, with Linux 5.15.0-generic (recovery mode)' --class ubuntu --class gnu-linux --class gnu --class os {
		recordfail
		load_video
		insmod gzio
		insmod part_gpt
		set root='hd0,gpt2'
		if [ x$feature_platform_search_hint = xy ]; then
		  search --no-floppy --fs-uuid --set=root --hint-bios=hd0,gpt2 --hint-efi=hd0,gpt2 --hint-baremetal=ahci0,gpt2  12345678-1234-1234-1234-123456789abc
		else
		  search --no-floppy --fs-uuid --set=root 12345678-1234-1234-1234-123456789abc
		fi
		echo	'Loading Linux 5.15.0-generic ...'
		linux	/boot/vmlinuz-5.15.0-generic root=UUID=12345678-1234-1234-1234-123456789abc ro recovery nomodeset
		echo	'Loading initial ramdisk ...'
		initrd	/boot/initrd.img-5.15.0-generic
	}
	
	menuentry 'Ubuntu, with Linux 5.13.0-generic' --class ubuntu --class gnu-linux --class gnu --class os {
		recordfail
		load_video
		gfxmode $linux_gfx_mode
		insmod gzio
		insmod part_gpt
		set root='hd0,gpt2'
		if [ x$feature_platform_search_hint = xy ]; then
		  search --no-floppy --fs-uuid --set=root --hint-bios=hd0,gpt2 --hint-efi=hd0,gpt2 --hint-baremetal=ahci0,gpt2  12345678-1234-1234-1234-123456789abc
		else
		  search --no-floppy --fs-uuid --set=root 12345678-1234-1234-1234-123456789abc
		fi
		linux	/boot/vmlinuz-5.13.0-generic root=UUID=12345678-1234-1234-1234-123456789abc ro quiet splash
		initrd	/boot/initrd.img-5.13.0-generic
	}
}
### END /etc/grub.d/10_linux ###

### BEGIN /etc/grub.d/30_os-prober ###
### END /etc/grub.d/30_os-prober ###

### BEGIN /etc/grub.d/40_custom ###
# This file provides an easy way to add custom menu entries.  Simply type the
# menu entries you want to add after this comment.  Be careful not to change
# the 'exec tail' line above.
### END /etc/grub.d/40_custom ###