<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Grid Test Suite" verbose="1">
    
    <parameter name="gridUrl" value="http://localhost:4444"/>
    <parameter name="browser" value="chrome"/>
    <parameter name="timeout" value="30"/>
    
    <test name="Login Tests" preserve-order="true">
        <classes>
            <class name="com.qa.grid.tests.LoginTest">
        </classes>
    </test>
    
    <test name="Form Tests">
        <class name="com.qa.grid.tests.FormTest"/>
        <class name="com.qa.grid.tests.SearchTest"/>
    </test>
    
</suite>