<?xml version="1.0"?>
<configuration>
  <!-- Short-Circuit Read Configuration -->
  <property>
    <name>dfs.client.read.shortcircuit</name>
    <value>true</value>
    <description>Enable short-circuit reads for better performance</description>
  </property>
  
  <property>
    <name>dfs.domain.socket.path</name>
    <value>/var/lib/hadoop-hdfs/dn_socket</value>
    <description>Unix domain socket path for DataNode communication</description>
  </property>
  
  <property>
    <name>dfs.client.use.legacy.blockreader.local</name>
    <value>false</value>
    <description>Use new implementation of short-circuit reads</description>
  </property>
  
  <property>
    <name>dfs.datanode.hdfs-blocks-metadata.enabled</name>
    <value>true</value>
    <description>Allow DataNodes to provide block metadata</description>
  </property>
  
  <property>
    <name>dfs.client.read.shortcircuit.streams.cache.size</name>
    <value>256</value>
    <description>Number of file descriptors cached</description>
  </property>
  
  <property>
    <name>dfs.client.read.shortcircuit.buffer.size</name>
    <value>131072</value>
    <description>Buffer size for short-circuit reads in bytes</description>
  </property>
</configuration>