<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="CompanyInternalFeed" value="https://internal-nuget.company.local/v3/index.json" />
    <add key="DevTeamFeed" value="https://devteam-packages.company.local/nuget" />
  </packageSources>
  <disabledPackageSources>
    <add key="nuget.org" value="true" />
  </disabledPackageSources>
  <packageSourceCredentials>
    <CompanyInternalFeed>
      <add key="Username" value="build-service" />
      <add key="ClearTextPassword" value="temp-password-123" />
    </CompanyInternalFeed>
  </packageSourceCredentials>
  <config>
    <add key="signatureValidationMode" value="require" />
  </config>
</configuration>