[Unit]
Description=NVIDIA CUDA MPS Control Daemon

[Service]
Type=forking
Environment=CUDA_MPS_PIPE_DIRECTORY=/tmp/nvidia-mps
ExecStart=/usr/local/cuda/bin/nvidia-cuda-mps-control -d
ExecStop=/usr/local/cuda/bin/echo quit | /usr/local/cuda/bin/nvidia-cuda-mps-control

[Install]
WantedBy=multi-user.target