process {
    executor = 'local'
    cpus = 1
    memory = '2 GB'
    time = '1h'
}

docker {
    enabled = false
}

workflow {
    workDir = './work'
}

params {
    input_dir = './input_data'
    output_dir = './results'
}

resume = true

manifest {
    description = 'DNA Quality Control Pipeline'
    version = '1.0'
}