# SSH Daemon Configuration File

# Network settings
Port 22

# Authentication settings
PermitRootLogin no
PubkeyAuthentication yes
PasswordAuthentication no
ChallengeResponseAuthentication no

# PAM settings
UsePAM yes

# X11 settings
X11Forwarding yes

# Misc settings
PrintMotd no
AcceptEnv LANG LC_*

# Subsystem configuration
Subsystem sftp /usr/lib/openssh/sftp-server