<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.applicationHost>
        <sites>
            <site name="SecureWebApplication" id="1" serverAutoStart="true">
                <application path="/" applicationPool="SecureAppPool">
                    <virtualDirectory path="/" physicalPath="C:\inetpub\wwwroot\secureapp" />
                </application>
                <bindings>
                    <binding protocol="http" bindingInformation="*:80:" />
                    <binding protocol="https" bindingInformation="*:443:" />
                </bindings>
                <logFile logFormat="W3C" directory="%SystemDrive%\inetpub\logs\LogFiles" />
                <traceFailedRequestsLogging enabled="true" directory="%SystemDrive%\inetpub\logs\FailedReqLogFiles" />
            </site>
            <site name="CorporatePortal" id="2" serverAutoStart="true">
                <application path="/" applicationPool="CorporatePool">
                    <virtualDirectory path="/" physicalPath="C:\inetpub\wwwroot\corporate" />
                </application>
                <bindings>
                    <binding protocol="https" bindingInformation="*:443:portal.company.local" />
                    <binding protocol="https" bindingInformation="*:8443:portal.company.local" />
                </bindings>
            </site>
        </sites>
        <applicationPools>
            <add name="SecureAppPool" managedRuntimeVersion="v4.0" managedPipelineMode="Integrated" />
            <add name="CorporatePool" managedRuntimeVersion="v4.0" managedPipelineMode="Integrated" />
        </applicationPools>
    </system.applicationHost>
    <system.webServer>
        <security>
            <access sslFlags="Ssl, SslNegotiateCert" />
        </security>
    </system.webServer>
</configuration>