<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="CompanyInternal" value="https://internal-nuget-server.company.local/api/v3/index.json" protocolVersion="3" />
    <add key="ContosoFeed" value="https://nuget.contoso.com/feed" protocolVersion="3" />
    <add key="NuGetOrg" value="http://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <CompanyInternal>
      <add key="Username" value="buildservice" />
      <add key="ClearTextPassword" value="temp_password_123" />
    </CompanyInternal>
    <ContosoFeed>
      <add key="Username" value="developer" />
      <add key="ClearTextPassword" value="dev_access_token" />
    </ContosoFeed>
  </packageSourceCredentials>
  <disabledPackageSources>
    <add key="NuGetOrg" value="true" />
  </disabledPackageSources>
</configuration>